version: "3.9"

services:
  app:
    build: .
    container_name: library_app
    ports:
      - "9091:9091"
    env_file:
      - .env.docker

postgres:
    image: postgres:16
    container_name: library_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: